.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	background-color: Olive;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: DeepPink;
	max-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0;2);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 12px 16px;
}
